extends layout

block content
  h1
     span WhiskTube 
     span(class="label label-info" style="font-size: 12px") beta
     span(class="btn btn-danger pull-right" style="font-size: 14px;")='Size: ' + (size > 1000 ? (size / 1024).toFixed(2) + ' GB' : size.toFixed(2) + ' MB')
  h3 Videos
  script.
    var ready = false;
    if (io) {
        var socket = io.connect(window.location.origin);
    }
    socket.on('connect', function () {
        ready = true;
        console.log('Connected!');
        $('#downformat').show();
        $('#downsubmit').css('height', '68px');
    });
    $(document).ready(function() {
    $('#downform').submit(function (event) {
        console.log('submit');
        if (ready) {
            console.log('yes');
            event.preventDefault();
            if ($('#downformat').val() == '') {
                $('#downformat').val('mp4')
            }
            socket.emit('download', {
                url: $('#downurl').val(),
                fmt: $('#downformat').val()
            });
            $('#downtitle').html($('#downurl').val());
            socket.on('info', function (data) {
                $('#downform').hide();
                $('#downtitle').html(data.info.title + ' <span class="label label-info">' + data.format.container + '</span>');
                $('#downimg').attr('src', data.info.thumbnail_url);
                $('#downinfo').show();
            });
            socket.on('error', function(err) {
                $('#downform').hide();
                $('#downinfo').show();
                $('#downprogtxt').html(err.error);
                $('#downtitle').css('color', '#e00');
                $('#downprogtxt').css('color', '#e00');
                $('#downprogress').removeClass('progress-bar-success');
                $('#downprogress').addClass('progress-bar-danger');
                $('#downprogress').css('width', '100%');
                $('.progress').removeClass('progress-striped active');
                setTimeout(function() {window.location.reload(true)}, 4500);
            });
            socket.on('progress', function (progress) {
                $('#downprogress').css('width', progress.tidy);
                $('#downprogtxt').html(progress.tidy);
            });
            socket.on('done', function () {
                window.location.reload(true);
            });
        }
    });
    });
  - each video in list
     li
        a(href='/show/' + video)=video.replace('.' + video.split('.').pop(), '')
        a(href='/delete/' + video class="label label-danger pull-right") Delete
        span(class="pull-right") &nbsp;
        span(class="pull-right label label-" + ((video.split('.').pop() == 'mp4' || video.split('.').pop() == 'webm') ? 'success' : 'default'))=video.split('.').pop()
  h3 Download new video
     form(name="dl" id='downform' action="/download" method="POST")
        div(class="input-group")
           input(type="text" class="form-control" placeholder="Video URL" id="downurl" name="url")
           input(type="text" class="form-control" placeholder="Format" val="mp4" id="downformat" name="fmt")
           span(class="input-group-btn")
              button(type="submit" id="downsubmit" class="btn btn-default" action="submit") Submit
     div(id="downinfo" style="display: none;")
        br
        h4
           span(id="downtitle" style="display: inline;") Fetching info...
           span(id="downprogtxt" style="display: inline;" class="pull-right") 0%
        div(class="progress progress-striped active")
           div(class="progress-bar progress-bar-success" id="downprogress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;")
        