doctype html
html
  head
    title WhiskTube
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fltheme.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/flowplayer.js")
    script(src="/socket.io/socket.io.js")
    link(href="/stylesheets/bootstrap.css", rel="stylesheet")
  body
    block content