doctype html
html
  head
    title WhiskTube
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//releases.flowplayer.org/5.4.6/skin/minimalist.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(src="//releases.flowplayer.org/5.4.6/flowplayer.min.js")
    script(src="/socket.io/socket.io.js")
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", rel="stylesheet")
  body
    block content